asn1crypto==0.24.0
click==6.7
cryptography==2.1.4
cx-Oracle==6.4.1
enum34==1.1.6
Flask==1.0.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gyp==0.1
idna==2.6
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
numpy==1.14.5
pandas==0.23.3
pycrypto==2.6.1
pygobject==3.26.1
python-dateutil==2.7.3
pytz==2018.5
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
SQLAlchemy==1.2.10
Werkzeug==0.14.1
WTForms==2.2.1
